body {
  font-family: Arial, sans-serif;
  background-color: #951c11;
  margin: 0;
  padding: 0;
  color: #100f0f;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(83, 59, 141, 0.8);
  border-radius: 5px;
  text-align: center;
}

.container #movieResults{
  display: inline-block;
}

h1 {
  text-align: center;
  font-size: 36px;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #fffafa;
  color: #060000;
}

button {
  padding: 10px 20px;
  background-color: #f7d916c6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #edb72c;
}

#movieResults {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.movie-group {
  width: 30%;
  margin: 10px;
  padding: 10px;
  background-color: transparent;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.movie img {
  max-height: 150px;
  max-width: 100%;
  object-fit: contain;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.movie img:hover {
  transform: scale(1.1);
}

.movie h2 {
  font-size: 18px;
  margin: 0;
}

.movie p {
  font-size: 14px;
  margin: 5px 0;
}

@media screen and (max-width: 768px) {
  .movie-group {
    width: 48%;
  }
}
